<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <!-- 위로 글 팝업 코드 시작 -->
    <style>
        #popup{
            position:fixed; width:100%; height:100%; background: rgba(0,0,0,0.8); top:0; left:0; display:none; z-index:100;
        }

        #popup_content{
            overflow-y: scroll;
            width:50%; height:80%;
            background:#fff; border-radius:10px;
            position:absolute; top:10%; left:25%;
            text-align:center;
            box-sizing:border-box;
            line-height:23px; cursor:pointer;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#closeButton").click(function(){
                $("#popup").fadeOut();
                const messageJson = event.target.getAttribute("messageDto");
                const messageDto = JSON.parse(messageJson);
                $.ajax({
                    url: "/api/message/received/" + messageDto.id,
                    type: "PUT",
                    success: function(response) {
                        if (response.status === "CREATED") {
                            alert(response.data);
                        }
                    },
                });
            });
        });
    </script>
    <!-- 위로 글 팝업 코드 끝 -->
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <form action="/board/list" method="get">
            <div class="col">
                <input type="hidden" name="cno" th:value="${pageRequestDto.cno}"/>
                <input type="hidden" name="size" th:value="${pageRequestDto.size}"/>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="tc" th:selected="${pageRequestDto.type =='tc'}">제목+내용</option>
                            <option value="t" th:selected="${pageRequestDto.type =='t'}">제목</option>
                            <option value="c" th:selected="${pageRequestDto.type =='c'}">내용</option>
                            <option value="w" th:selected="${pageRequestDto.type =='w'}">작성자</option>
                            <option value="tcw" th:selected="${pageRequestDto.type =='tcw'}">제목+내용+작성자</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="keyword" th:value="${pageRequestDto.keyword}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                        <button class="btn btn-outline-secondary clearBtn" type="submit">초기화</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    [[${responseDto.cno}]]
                </div>
                <div class="card-body">
                    <h5 class="card-title">게시글 목록</h5>

                    <table class="table">
                        <thead>

                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성시간</th>
                        </tr>


                        </thead>
                        <tbody>
                        <tr th:each="dto:${responseDto.dtoList}">
                            <th scope="row">[[${dto.id}]]</th>
                            <td>
                                <a th:href="@{/board/{id}(id=${dto.id})}"> [[${dto.title}]] </a>
                            </td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDto.prev}">
                                <a class="page-link" th:data-num="${responseDto.start - 1}">이전</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDto.start, responseDto.end)}">
                                <li th:class="${responseDto.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDto.next}">
                                <a class="page-link" th:data-num="${responseDto.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>

                </div>  <!--end card-body-->
            </div>  <!--end card-->
        </div>  <!--end col-->
    </div>  <!--end row-->

    <!-- 위로 글 팝업 코드 시작 -->
    <div id="popup" th:style="${messageDto == null ? '' : 'display: block'}">
        <div class="row" id="popup_content" title="클릭하면 창이 닫힙니다.">
            <div class="card-header">
                위로 글
            </div>
            <div class="card-body">
                <div><img th:if="${messageDto != null}" th:src="@{${messageDto.image}}" alt="" th:style="${'width: 65%'}"/></div>
            </div><!--end card body-->
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">내용</span>
                    <textarea readonly class="form-control col-sm-5" id="content" th:if="${messageDto != null}" th:text="${messageDto.content}"></textarea>
                </div>
            </div><!--end card body-->
            <div class="card-footer">
                <button type="button" id="closeButton" class="btn btn-secondary" th:if="${messageDto != null}" th:messageDto="${messageDto.toJson()}">닫기</button>
            </div>
        </div>
    </div>
    <!-- 위로 글 팝업 코드 끝 -->

</div>

<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()     // 리로드 방지
        e.stopPropagation()    // 상위 태그 클릭 이벤트 방지

        const target = e.target

        if (target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit()

    },false)

    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const cno = document.querySelector('[name="cno"]').value;

        self.location ='/board/list?cno=' + cno;
    },false)

</script>