<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script src="/js/board.js"></script>-->
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
    <form id="boardForm">
        <label>Title:
            <input type="text" name="title" required>
        </label>
        <label>Content:
            <textarea id="content" name="content" required></textarea>
        </label>
        <label>Category:
            <input type="text" id="category" name="category" readonly>
        </label>
        <button id="classifyButton" type="button">Classify Category</button>
        <button type="submit">Submit</button>
    </form>
    <script src="board.js"></script>
</body>
</html>
