<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<div layout:fragment="content">
    메인화면
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">자주가는 게시판</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성시간</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="dto:${favoriteDto.dtoList}">
                            <th scope="row">[[${dto.id}]]</th>
                            <td>
                                <a th:href="@{/board/read(id=${dto.id})}"> [[${dto.title}]] </a>
                            </td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                        </tr>

                        </tbody>
                    </table>


                </div>  <!--end card-body-->
            </div>  <!--end card-->
        </div>  <!--end col-->
    </div>  <!--end row-->
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">인기 게시판</div>
                <div class="card-body">
                    <h5 class="card-title boardList">게시판 순위: </h5>

                    <table class="table">
                        <thead>

                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성시간</th>
                        </tr>

                        </thead>
                        <tbody class="postList">

                        </tbody>
                    </table>


                </div>  <!--end card-body-->
            </div>  <!--end card-->
        </div>  <!--end col-->
    </div>  <!--end row-->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/board.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">

    const categoryList = [[${dtoList}]];
    let cno = categoryList[0].cno;


    const boardList = document.querySelector('.boardList'); // 카테고리 목록 DOM
    const postList = document.querySelector('.postList'); // 게시글 목록 DOM

    function printCategories() {
        categoryList.forEach((category, index) => {
            const span = document.createElement('span');
            span.innerText= " " + (index + 1) +". ";
            boardList.appendChild(span);

            const button = document.createElement('button');
            button.textContent = `${category.name} : ${category.dailyVisitors}`;
            button.addEventListener('click', () => {
                cno = categoryList[index].cno;
                printPosts(5);
            });

            // 버튼을 요소에 추가합니다.
            boardList.appendChild(button);
        });
    }

    function printList(dtoList) { // 게시글 목록 출력

        // 날짜 형식을 만들기 위한 함수
        function formatDate(date) {
            var year = date.getFullYear();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            var hours = date.getHours().toString().padStart(2, '0');
            var minutes = date.getMinutes().toString().padStart(2, '0');
            var seconds = date.getSeconds().toString().padStart(2, '0');

            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }

        let str = '';

        if(dtoList && dtoList.length > 0) {

            for (const dto of dtoList) {

                // LocalDateTime 필드에서 Date 객체 추출
                var date = new Date(dto.regDate);

                // 원하는 형식으로 날짜를 출력
                var formattedDate = formatDate(date);

                str += `<tr>
                            <th scope="row">${dto.id}</th>
                            <td>
                                <a href="/board/read?id=${dto.id}"> ${dto.title} </a>
                            </td>
                            <td>${formattedDate}</td>
                        </tr>`;
            }
            postList.innerHTML = str;
        }
    }

    function printPosts(size) {

        getList({cno, size}).then(
            data => {
                printList(data.dtoList) // 목록 처리
            }
        ).catch(
            e => { console.error(e) }
        );
    }

    printCategories();
    printPosts(5);

</script>