<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>회원가입</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
  .category-checkbox {
    display: inline-block;
    width: 20%; /* 각 카테고리의 너비를 조정합니다. 20%는 5개가 한 줄에 나타나도록 설정한 예시입니다. */
    float: left; /* 왼쪽으로 부유시킵니다. */
    white-space: nowrap; /* 텍스트의 줄 바꿈을 방지합니다. */
    overflow: hidden; /* 텍스트 오버플로우를 숨깁니다. */
    text-overflow: ellipsis; /* 길이가 초과되면 텍스트를 생략 부호 (...)로 표시합니다. */
  }
  .category-checkbox label {
    display: block; /* 레이블을 블록 요소로 설정합니다. */
    text-overflow: ellipsis; /* 레이블 텍스트가 길이를 초과하면 생략 부호를 표시합니다. */
    overflow: hidden; /* 텍스트 오버플로우를 숨깁니다. */
  }
</style>
<body>
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <h2 class="text-center">회원가입</h2>
      <form>
        <div class="form-group">
          <label for="email">이메일:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
          <label for="password">비밀번호:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="form-group">
          <label for="name">이름:</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="nickname">별명:</label>
          <input type="text" class="form-control" id="nickname" name="nickname" required>
        </div>

        <div class="form-group">
          <label for="school">학교:</label>
          <!-- 학교 선택 드롭다운 -->
          <select class="form-control" id="school" name="school">
            <option value="" selected disabled>학교 선택</option>
            <th:block th:each="school : ${schoolDto}">
              <option th:value="${school}" th:text="${school}"></option>
            </th:block>
          </select>
        </div>

        <div class="form-group">
          <label for="department">학과:</label>
          <!-- 학과 선택 드롭다운 -->
          <select class="form-control" id="department" name="department">
            <option value="" selected disabled>학과 선택</option>
          </select>
        </div>
        <div class="form-group">
          <label>카테고리 (5개 선택):</label>
          <div>
            <th:block th:each="category, iterStat : ${categoryDto}">
              <div class="category-checkbox">
                <label>
                  <input type="checkbox" name="categories" th:value="${category.name}" class="category-checkbox"> <span th:text="${category.name}"></span>
                </label>
              </div>
              <!-- 5개마다 개행 추가 -->
              <th:block th:if="${iterStat.count % 5 == 0}">
                <div style="clear: both;"></div>
              </th:block>
            </th:block>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-block" id="btn-join">가입하기</button>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  // 학교 선택란의 변경 이벤트 핸들러
  $('#school').change(function() {
    var selectedSchool = $(this).val();
    var departmentDropdown = $('#department');

    // 선택한 학교에 따라 동적으로 학과 목록을 가져오는 AJAX 요청
    jQuery.ajax({
      url: '/api/getDepartmentsBySchool?school=' + selectedSchool,
      method: 'GET',
      success: function(data) {
        departmentDropdown.empty();
        $.each(data, function(index, department) {
          departmentDropdown.append($('<option></option>').attr('value', department).text(department));
        });
      },
      error: function(xhr, status, error) {
        console.log('AJAX 요청 실패: ' + error);
        // 실패 시 대체 처리나 오류 메시지를 표시하는 등의 작업을 수행할 수 있습니다.
      }
    });

  });
</script>
<script>
  // 카테고리 체크박스의 변경 이벤트 핸들러
  $('.category-checkbox').change(function() {
    var selectedCheckboxes = $('.category-checkbox:checked');

    if (selectedCheckboxes.length > 5) {
      // 5개를 초과한 체크박스가 선택되었을 때, 사용자에게 경고를 표시하고 다음 체크박스를 선택할 수 없도록 만듭니다.
      alert('최대 5개의 카테고리를 선택할 수 있습니다.');
      $(this).prop('checked', false);
    }
  });
</script>
<script src="/index.js"></script>
</body>
</html>