<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 비밀번호 설정</title>

    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 사용자 정의 CSS -->
    <style>
        /* 추가적인 사용자 정의 스타일을 여기에 작성할 수 있습니다. */
        .custom-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
<input type="hidden" id="email" th:value="${email}" />
<div class="container">
    <div class="custom-form">
        <h2>새로운 비밀번호 설정</h2>
        <p>현재 이메일 주소: <strong th:text="${email}">여기에 이메일 주소를 동적으로 삽입</strong></p>
        <form>
            <div class="form-group">
                <label for="newPassword">새로운 비밀번호:</label>
                <input type="password" class="form-control" id="newPassword" placeholder="새로운 비밀번호를 입력하세요" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">비밀번호 확인:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="비밀번호를 다시 입력하세요" required>
            </div>
        </form>
        <button class="btn btn-primary" id="updatePasswordBtn">비밀번호 변경</button>
    </div>
</div>

<!-- 부트스트랩 및 jQuery 및 Popper.js 스크립트 -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script>
    // 비밀번호 수정 완료 버튼 클릭 시 비밀번호 업데이트
    $("#updatePasswordBtn").click(function() {
        var email = $("#email").val();
        var newPassword = $("#newPassword").val();

        jQuery.ajax({
            type: "POST",
            url: "/api/newPassword", // 스프링 컨트롤러의 매핑 경로
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify({ email: email,newPassword:newPassword }),
            success: function() {
                if (true) {
                    // 성공적으로 업데이트되면 아래 코드 실행
                    alert("비밀번호를 변경했습니다.");
                    window.location.href = '/';
                    /*$("#passwordEditRow").hide();*/
                } else {
                    // 업데이트에 실패한 경우 처리
                    alert("비밀번호 업데이트에 실패했습니다.");
                }
            },
            error: function() {
                // 오류 발생 시 처리
                alert("기존 비밀번호가 일치하지 않습니다.");
            }
        });
    });
</script>
</body>
</html>