<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>

  <!-- 부트스트랩 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- 사용자 정의 CSS -->
  <style>
    /* 추가적인 사용자 정의 스타일을 여기에 작성할 수 있습니다. */
    .custom-form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="custom-form">
    <h2>이메일과 이름 입력</h2>
    <form action="/searchPassword" method="post">
      <div class="form-group">
        <label for="email">이메일 주소:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="이메일 주소를 입력하세요" required>
      </div>
      <div class="form-group">
        <label for="name">이름:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요" required>
      </div>
      <button type="submit" class="btn btn-primary" >찾기</button>
    </form>
  </div>
</div>

<!-- 부트스트랩 및 jQuery 및 Popper.js 스크립트 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script>
  // 닉네임 수정 완료 버튼 클릭 시 닉네임 업데이트
  $("#searchPasswordBtn").click(function() {
    var email = $("#email").val();
    var name = $("#name").val();

    // AJAX를 사용하여 닉네임 업데이트 요청을 보냅니다.
    jQuery.ajax({
      type: "POST",
      url: "/api/searchPassword", // 스프링 컨트롤러의 매핑 경로
      dataType: 'json',
      contentType:'application/json; charset=utf-8',
      data: JSON.stringify({ email: email,name:name }),
      success: function() {
        if (true) {
        } else {
          // 업데이트에 실패한 경우 처리
          alert("찾기에 실패했습니다.");
        }
      },
      error: function() {
        // 오류 발생 시 처리
        alert("존재하지 않는 회원입니다.");
      }
    });
  });
</script>
</body>
</html>